<div class="header">
  <div class="header-inner">
		<div class="header-top">
			<div id="block-user-0" class="clear-block block block-user">
        <div class="content">
          <form action="/node?destination=node" accept-charset="UTF-8" method="post" id="user-login-form">
            <div>
              <div class="form-item" id="edit-name-wrapper">
                <label for="edit-name">Username: <span class="form-required" title="This field is required.">*</span></label>
                <input type="text" maxlength="60" name="name" id="edit-name" size="15" value="Username" onfocus="if(this.value == 'Username') {this.value='';}" onblur="if(this.value == ''){this.value ='Username';}" class="form-text required">
              </div>
              <div class="form-item" id="edit-pass-wrapper">
                <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
                <input type="password" name="pass" id="edit-pass" maxlength="60" size="15" onfocus="if(this.value == '*****') {this.value='';}" onblur="if(this.value == ''){this.value ='*****';}" class="form-text required">
              </div>
              <input type="submit" name="op" id="edit-submit" value="Log in" class="form-submit">
              <input type="hidden" name="form_build_id" id="form-WTyqvUYMspfOKkTyHiLU8vvEhzHxY0jrYcJ1QYZaXx0" value="form-WTyqvUYMspfOKkTyHiLU8vvEhzHxY0jrYcJ1QYZaXx0">
              <input type="hidden" name="form_id" id="edit-user-login-block" value="user_login_block">
            </div>
          </form>
        </div>
      </div>
		</div>
    <div class="logo">
      <h1><a href="/" title="Department of Energy Science and Engineering "><img src="/sites/default/files/logo.png" alt="Department of Energy Science and Engineering " id="logo"></a></h1>                
    </div>
    <div class="header-text"><img src="https://www.ese.iitb.ac.in/sites/all/themes/eseiitb/images/header-text.png" alt=""></div>
  </div>
</div>



<header style="">
	<div class="row">
		<div class="small-3 medium-2 columns"> 
			<a href="/Energy"><img class="logo" src="/static/image/ESE.png" alt="Entergy Home" style="margin-left:5px;white-space:pre-wrap;"></a>  
		</div>
    <div>
      Department of 
    </div> 
  </div>
</header> 